```{=html}
<ul class="course-listing">
  <% for (const item of items) { %>
    <li id="<%= item.title %>">
      <% if (item.image) { %>
        <a href="<%- item.path %>">
          <img alt="" src="<%- item.image %>">
        </a>
      <% } %>

      <a class="title" href="<%- item.path %>"><%- item.title %></a>

      <% if (item.categories) { %>
        <ul class="categories">
          <% for (const category of item.categories) { %>
            <li><%- category %></li>
          <% } %>
        </ul>
      <% } %>

      <p>
        <%= item.description %>
      </p>

      <% if (item.speaker) { %>
        <p class="speaker"><strong>Speaker:</strong> <%- item.speaker %></p>
      <% } %>

      <% if (item.date) { %>
        <p class="date"><strong>Date:</strong> <time><%- item.date %></time></p>
      <% } %>

      <% if (item.links) { %>
        <ul class="links">
          <% for (const link of item.links) { %>
            <li><a href="<%- link.url %>"><%- link.title %></a></li>
          <% } %>
        </ul> 
      <% } %>

      <% if (item.prerequisites) { %>
        <p class="prerequisites"><strong>Prerequisites:</strong> <%- item.prerequisites %></p>
      <% } %>
    </li>
  <% } %>
</ul>
```
